language: python
python:
    - "2.7"
    - "3.5"
    - "3.6"
install:
    - pip install -U pip
    - if [[ $TRAVIS_PYTHON_VERSION == 2.7 ]]; then pip install mock; fi
script: python -m unittest tests
